:root
{
    overflow-x: hidden;
    --verde-claro:#C3F8A5;
}
.navbar
{
    min-height: 70px;
}
.nuvem
{
    position: absolute;
    width: 100%;
    margin-top: -12% !important;
    user-select: none;
    -webkit-user-drag: none;
}
.folhas1
{
    background-color: var(--verde-claro);
    background-image:url('../ui/bg/bg_arvore_topo_esquerdo.svg'),url('../ui/bg/bg_arvore_topo_direito.svg');
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 20%,10%;
}
.folhas2
{
    background-color: white;
    background-image:url('../ui/bg/bg_arvore_inferior_esquerdo.svg'),url('../ui/bg/bg_arvore_inferior_direito.svg');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-clip: unset;
    background-size: 20%,10%;
}
/*GRID*/
.corpo
{
    display: grid;
    grid-template-areas: 'conteudo''rodape';
    grid-template-rows: auto;
}
.conteudo
{
    grid-area: conteudo;
}
.rodape
{
    grid-area: rodape;
}