@font-face {
font-family: "Luciole";
src:
    local("Luciole"),
    url("{{url}}resource/css/fonts/Luciole-Regular/Luciole-Regular.ttf") format("opentype") tech(color-COLRv1),
    url("{{url}}resource/css/fonts/Luciole-Regular/Luciole-Regular.eot") format("eot"),
    url("{{url}}resource/css/fonts/Luciole-Regular/Luciole-Regular.woff") format("woff"),
    url("{{url}}resource/css/fonts/Luciole-Regular/Luciole-Regular.woff2") format("woff2");
}

@font-face {
font-family: "Luciole-Bold";
src:
    local("Luciole-Bold"),
      url("{{url}}resource/css/fonts/Luciole-Bold/Luciole-Bold.ttf") format("opentype") tech(color-COLRv1),
      url("{{url}}resource/css/fonts/Luciole-Bold/Luciole-Bold.eot") format("eot"),
      url("{{url}}resource/css/fonts/Luciole-Bold/Luciole-Bold.woff") format("woff"),
      url("{{url}}resource/css/fonts/Luciole-Bold/Luciole-Bold.woff2") format("woff2");
}
@font-face {
font-family: "Luciole-Italic";
src:
    local("Luciole-Italic"),
    url("{{url}}resource/css/fonts/Luciole-Italic/Luciole-Italic.ttf") format("opentype") tech(color-COLRv1),
    url("{{url}}resource/css/fonts/Luciole-Italic/Luciole-Italic.woff") format("woff"),
    url("{{url}}resource/css/fonts/Luciole-Italic/Luciole-Italic.woff2") format("woff2");
}
p,h1,h2,h3,h4,h5,h6,span,a,li,button{
    font-family: "luciole" !important;
}
body{
    padding-right: 0 !important;
}
.bg-verde
{
    background-color: #4D9B44;
}
.nuvem
{
    position:absolute;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
.nuvem-top
{
   margin-top: -11.9% !important;
}
.nuvem-mid
{
    bottom: 0 !important;
}
.folhas
{
    background-color: #C3F8A5;
    background-image:url('{{url}}resource/ui/bg/bg_arvore_topo_esquerdo.svg'),url('{{url}}resource/ui/bg/bg_arvore_topo_direito.svg'),url('{{url}}resource/ui/bg/bg_arvore_inferior_esquerdo.svg'),url('{{url}}resource/ui/bg/bg_arvore_inferior_direito.svg');
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 20%,10%,20%,10%;
}
.folhas1
{
    background-color: #C3F8A5;
    background-image:url('{{url}}resource/ui/bg/bg_arvore_topo_esquerdo.svg'),url('{{url}}resource/ui/bg/bg_arvore_topo_direito.svg');
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 20%,10%;
}
.folhas2
{
    background-color: white;
    background-image:url('{{url}}resource/ui/bg/bg_arvore_inferior_esquerdo.svg'),url('{{url}}resource/ui/bg/bg_arvore_inferior_direito-svg.svg');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-clip: unset;
    background-size: 20%,10%;
    min-height: 35vh;
    z-index: 1;
}

.folhas2 img{
    z-index: 0;
}
/*GRID*/
.corpo
{
    height: 100%;
    font-family: 'Luciole';
    display: grid;
    grid-template-areas: 'conteudo''rodape';
    grid-template-rows: auto minmax(70px,min-content);
    grid-template-columns: 100%;
}

.corpo-list{
    display:contents;
}
.conteudo
{
    grid-area: conteudo;
}
.rodape
{
    grid-area: rodape;
    
}
