@font-face {
font-family: 'Luciole';
font-style: normal;
font-weight: 400;
src:
    local('Luciole'),
    url('{{url}}resource/css/fonts/Luciole-Regular/Luciole-Regular.woff') format('woff');
}
*{
    box-sizing: border-box;
    font-family: 'Luciole',arial;
    text-decoration: none;
}
body{
    padding-right: 0 !important;
}
.bg-verde
{
    background-color: #4D9B44;
}
.nuvem
{
    position:absolute;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
.nuvem-top
{
   margin-top: -11.9% !important;
}
.nuvem-mid
{
    bottom: 0 !important;
}
.folhas
{
    background-color: #C3F8A5;
    background-image:url('{{url}}resource/ui/bg/bg_arvore_topo_esquerdo.png'),url('{{url}}resource/ui/bg/bg_arvore_topo_direito.png'),url('{{url}}resource/ui/bg/bg_arvore_inferior_esquerdo.png'),url('{{url}}resource/ui/bg/bg_arvore_inferior_direito.png');
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 20%,10%,20%,10%;
}
/*GRID*/
.corpo
{
    height: 100%;
    display: grid;
    grid-template-areas: 'conteudo''rodape';
    grid-template-rows: auto minmax(70px,min-content);
    grid-template-columns: 100%;
}

.corpo-list{
    display:contents;
}
.conteudo
{
    grid-area: conteudo;
}
.rodape
{
    grid-area: rodape;
}
