:root
{
    overflow-x: hidden;
    --verde:#4D9B44;
    --verde-claro:#C3F8A5;
    --verde-escuro:#205732;
    --terroso-creme:#FFC7A4;
}
.bg-verde
{
    background-color: var(--verde);
}
.navbar
{
    min-height: 70px;
}
.nuvem
{
    position: absolute;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
.nuvem-top
{
    margin-top: -13% !important;
}
.nuvem-mid
{
    bottom: 0 !important;
}
.folhas
{
    background-color: var(--verde-claro);
    background-image:url('../ui/bg/bg_arvore_topo_esquerdo.svg'),url('../ui/bg/bg_arvore_topo_direito.svg'),url('../ui/bg/bg_arvore_inferior_esquerdo.svg'),url('../ui/bg/bg_arvore_inferior_direito.svg');
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 20%,10%,20%,10%;
}
.folhas1
{
    background-color: var(--verde-claro);
    background-image:url('../ui/bg/bg_arvore_topo_esquerdo.svg'),url('../ui/bg/bg_arvore_topo_direito.svg');
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: 20%,10%;
}
.folhas2
{
    background-color: white;
    background-image:url('../ui/bg/bg_arvore_inferior_esquerdo.svg'),url('../ui/bg/bg_arvore_inferior_direito.svg');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-clip: unset;
    background-size: 20%,10%;
}
/*GRID*/
.corpo
{
    display: grid;
    grid-template-areas: 'navbar''conteudo''rodape';
    grid-template-rows: minmax(70px,min-content) auto minmax(70px,min-content);
}
.conteudo
{
    grid-area: conteudo;
}
.rodape
{
    grid-area: rodape;
}
.navbar
{
    grid-area: navbar;
}