<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SIGNA</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="logo.png">
    </head>

<body>
    <header>
        <nav class="navbar">
            <div class="titulo">
                <a href="https://signa.eco.br/" class="cabeça" target="_blank">SIGNA</a>
            </div>
            <div class="subtitulo">
                <a href="https://fatecfrancodarocha.edu.br/" class="cabeça" target="_blank">FATEC Franco da Rocha</a>
            </div>
        </nav>
    </header>

    <img src="https://signa.eco.br/resource/ui/bg/bg_arvore_topo_esquerdo.svg" class="folha1">
    <img src="https://signa.eco.br/resource/ui/bg/bg_arvore_topo_direito.svg" class="folha2">

    <main>
        <strong class="strong">OLÁ</strong>
        <p class="valide">
            Valide o código abaixo para recuperar o seu acesso no 
            <a href="https://signa.eco.br" target="_blank">SIGNA</a>
        </p>
        <p class="codigo" style=margin-bottom:40px;><strong>CÓDIGO DE VALIDAÇÃO</strong></p>
        <br>
        <p  style= margin-bottom:0px;
        >O código para redefinir a senha expira em 5 minutos</p> 
        <p style= margin-bottom:0px;>Caso você não tenha solicitado a redefinição de senha, desconsidere este e-mail e continue usando a sua senha atual.</p>
    </main>

    <div class="fundo"></div>
    <img src="https://signa.eco.br/resource/ui/bg/bg_arvore_inferior_esquerdo.svg" class="folha4">
    <img src="https://signa.eco.br/resource/ui/bg/bg_arvore_inferior_direito-svg.svg" class="folha3">
    <img src="https://signa.eco.br/resource/ui/bg/bg_nuvem_corrected.svg" class="nuvem">
</body>
</html>
